<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Deep Dark Square Root</title>
    <!--    external css & js-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/language.js" type="text/javascript"></script>
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
    <div class="container">
        <!--        Site header-->
        <a class="navbar-brand" lang="en" href="#">Square Root Extractor</a>
        <a class="navbar-brand" lang="ru" href="#">Извлекатель корня</a>
        <a class="navbar-brand" lang="ch" href="#">平方根提取器</a>
        <a class="navbar-brand" lang="es" href="#">Extractor de raíces cuadradas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!--        Right menu-->
                <li class="nav-item">
                    <a class="nav-link" lang="en" href="/">Home
                    </a>
                    <a class="nav-link" lang="ru" href="/">Главная страница
                    </a>
                    <a class="nav-link" lang="ch" href="/">主页
                    </a>
                    <a class="nav-link" lang="es" href="/">Página principal
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" lang="en" href="#">Support</a>
                    <span class="sr-only" lang="en">(current)</span>
                    <a class="nav-link" lang="ru" href="#">Поддержка</a>
                    <span class="sr-only" lang="ru">(текущая)</span>
                    <a class="nav-link" lang="ch" href="#">支持</a>
                    <span class="sr-only" lang="ru">(当前的)</span>
                    <a class="nav-link" lang="es" href="#">El Apoyo</a>
                    <span class="sr-only" lang="ru">(corriente)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" lang="en" href="/documentation">Documentation</a>
                    <a class="nav-link" lang="ru" href="/documentation">Документация</a>
                    <a class="nav-link" lang="ch" href="/documentation">文獻資料</a>
                    <a class="nav-link" lang="es" href="/documentation">Documentación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <select class="selectpicker" id="lang-switch" data-width="fit">
                            <option selected>Choose your language</option>
                            <option data-content='<span class="flag-icon flag-icon-en"></span> English'>English</option>
                            <option data-content='<span class="flag-icon flag-icon-ru"></span> Russian'>Русский</option>
                            <option data-content='<span class="flag-icon flag-icon-ch"></span> Chinese'>中国人</option>
                            <option data-content='<span class="flag-icon flag-icon-es"></span> Español'>Español</option>
                        </select>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1 class="font-weight-light" lang="en">Contact us!</h1>
            <h1 class="font-weight-light" lang="ru">Свяжитесь с нами!</h1>
            <h1 class="font-weight-light" lang="ch">联系我们!</h1>
            <h1 class="font-weight-light" lang="es">Contáctenos!</h1>
            <h3 class="font-weight-light" lang="en">Our VK pages:</h3>
            <h3 class="font-weight-light" lang="ru">Наши страницы в ВК:</h3>
            <h3 class="font-weight-light" lang="ch">我们的VK页面:</h3>
            <h3 class="font-weight-light" lang="es">Nuestras páginas VK:</h3>
            <div>
                <a href="https://vk.com/deadlapa" class="link-secondary">https://vk.com/deadlapa</a>
            </div>
            <div>
                <a href="https://vk.com/vixterisk" class="link-secondary">https://vk.com/vixterisk</a>
            </div>
            <div>
                <a href="https://vk.com/garnik_original" class="link-secondary">https://vk.com/garnik_original</a>
            </div>
        </div>
        <div class="card-body p-5">
            <h3 class="font-weight-light" lang="en">Service-Hotline:</h3>
            <h3 class="font-weight-light" lang="ru">Телефон горячей линии:</h3>
            <h3 class="font-weight-light" lang="ch">服务热线:</h3>
            <h3 class="font-weight-light" lang="es">Línea directa de servicio:</h3>
            <div class="lead p-3">8 (952) 333-67-43</div>
        </div>
    </div>
</div>
</body>
</html>